---
import CircleFilled from "@tabler/icons/filled/circle.svg";
import type { HTMLAttributes } from "astro/types";
import type { VariantProps } from "tailwind-variants";

import { radioControl, radioIndicator, radioItem, radioWrapper } from "./variants";

type Props = HTMLAttributes<"input"> &
  VariantProps<typeof radioWrapper> &
  VariantProps<typeof radioControl> & {
    /**
     * Value of the radio item
     */
    value: string;
    /**
     * Whether the radio is disabled
     */
    disabled?: boolean;
    /**
     * Optional ID for the radio item
     */
    id?: string;
    /**
     * Name to group radio inputs
     */
    name?: string;
    /**
     * Whether the radio is checked (only for initial state)
     */
    checked?: boolean;
  };

const {
  value,
  name,
  disabled = false,
  checked = false,
  id,
  class: className,
  size = "md",
  variant = "default",
  ...rest
} = Astro.props;
---

<div class={radioWrapper({ size })} data-slot="radio-group-item-wrapper">
  <input
    type="radio"
    class={radioItem()}
    name={name}
    id={id}
    value={value}
    checked={checked}
    disabled={disabled}
    {...rest}
    data-slot="radio-group-item"
  />
  <span class={radioControl({ variant, class: className })} data-slot="radio-group-item-control">
    <slot name="icon">
      <CircleFilled class={radioIndicator({ size })} />
    </slot>
  </span>
</div>
