---
import type { HTMLAttributes } from "astro/types";

import { selectContent, selectContentInner } from "./variants";

type Props = HTMLAttributes<"div"> & {
  /**
   * Side of the tooltip
   * @default bottom
   */
  side?: "top" | "bottom";
  /**
   * Alignment of the dropdown
   * @default start
   */
  align?: "start" | "center" | "end";
  /**
   * Offset distance in pixels
   * @default 4
   */
  sideOffset?: number;
  /**
   * Open and close animation duration in milliseconds
   * @default 150
   */
  animationDuration?: number;
  /**
   * Size of the select content
   * @default md
   */
  size?: "sm" | "md" | "lg";
};

const {
  class: className,
  side = "bottom",
  align = "start",
  size = "md",
  sideOffset = 4,
  animationDuration = 150,
  ...rest
} = Astro.props;
---

<div
  class={selectContent({ side, align, size, class: className })}
  role="listbox"
  data-side={side}
  data-align={align}
  data-state="closed"
  tabindex="-1"
  style={{
    // hide the content initially. Script will remove this
    display: "none",
    animationDuration: `${animationDuration}ms`,
    marginTop: side === "bottom" ? `${sideOffset}px` : undefined,
    marginBottom: side === "top" ? `${sideOffset}px` : undefined,
  }}
  {...rest}
  data-slot="select-content"
>
  <div class={selectContentInner()}>
    <slot />
  </div>
</div>
